{% load static %}
{% load widget_tweaks %}


<div id="tabs-with-content" name="{{field.name}}">
    <div class="tabs is-boxed contenido">
        <ul>
            <li class="is-active"><a>Editar</a></li>
            <li><a>Vista</a></li>
        </ul>
    </div>
    <div>
        <section class="tab-content">
            <textarea class="content-text" id="editor">
            </textarea>
        </section>
        <section class="tab-content">
            <resultado class="content-text content"  id="resultado">
            </resultado>
        </section>
    </div>
</div>

<style>
 #tabs-with-content{
height:500px;
 }

 #editor{
     width:95%;
     height: 500px;
 }

 #resultado{
     width:95%;
     height: 500px;
     overflow: scroll;}

 #guia{
     width:95%;
     height: 500px;
     overflow: scroll;}

 #tabs-with-content .tabs:not(:last-child) {
     margin-bottom: 0;
 }

 #tabs-with-content .tab-content {
     padding: 1rem;
     display: none;
 }

 #tabs-with-content .tab-content.is-active {
     display: block;
 }
</style>
<script defer
        src="{% static 'articulo/widgets/js/content.js' %}"> 
</script>

