{% load widget_tweaks %}

<form action="/articulo/crear" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="message is-danger">
        <div class="message-header">
            <p>Error al enviar formulario</p>
            <button class="delete" aria-label="delete"></button>

        </div>
        <div class="message-body">
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    {% if form.hidden_fields %}
    <div class="message hidden is-danger">
        {% for hidden_field in form.hidden_fields %}
          <div class="message-header">
              <p>Error en campos ocultos</p>
              <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
              {{ hidden_field.errors }}
              {{ hidden_field }}
          </div>
          {% endfor %}
    </div>
    {% endif %}
    {% for field in form.visible_fields %}
    {% if field.name == 'imagen' %}
      <p>{{field.widget.input_type}}</p>
      <p>name:{{field.field.widget.input_type}}</p>
      <div class="field-form file has-name {{field.widget.input_type}}">
          <label
              for="{{ form.field.id_for_label }}"
              class="file-label">
              {{field}}
              <span class="file-cta">
                  <span class="file-icon">
                      <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                      {{ field.label_tag }}
                  </span>
              </span>
              <span class="file-name">
                  imagen.png
              </span>

          </label>
          <div class="message is-warning">
              {{ field.errors }}
          </div>
      </div>
    {% else %}
    <div class="field-form">
        <label
            for="{{ form.field.id_for_label }}"
            class="label">{{ field.label_tag }}
        </label>
        <div class="message is-warning">
            {{ field.errors }}
        </div>
        <div class="control">
            <div class="{{field.field.widget.attrs.input_name}} {{field.field.widget.attrs.multiple}}">
                {{ field }}
            </div>
            {{ field.help_text }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="field is-grouped columns">
        <div class="control column is-half  ">
            <button class="button is-link  is-medium is-fullwidth">Guardar</button>
        </div>
        <div class="control column is-half">
            <button class="button is-link is-danger  is-medium is-fullwidth">Cancelar</button>
        </div>
    </div>

    {{form.media}}
</form>
