{% extends 'base.dj.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Crear Artículo | App Artículo
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-four-fifths">
    {% include 'articulo/publicacion/component_create_form.dj.html' with object=object params=params %}
    </div>
    <div class="column"></div>

</div>
{% endblock %}
