<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html class="has-navbar-fixed-top"> 
    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon"
              href="{% static 'img/icon .png' %}"
              type="image/svg+xml" sizes="any">

        <title>{% block title %}{% endblock title%}</title>
        {% block main_css %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'bulma/css/main.css' %}">

        {% endblock main_css %}
        {% block css %}

        {% endblock css %}
    </head>

    <body>
                    <!-- Ubicación de encabezado del contenido -->
            {% block header %}
            <header id="main_header"  class="section">
                {% include 'menu_nav.dj.html' %}
            </header>
            {% endblock header %}
            <div class="section">
              <div class="container">
                  {% block content %}
                  {% endblock content %}
              </div>
            </div>
        <footer>
            {% block post_css %}{% endblock post_css %}
            {% block js %}
            <script defer
                    src="{% static 'bulma/lib/main.js' %}"> 
            </script>

            <script defer
                    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
            </script>
            {% endblock js %}
            {% block post_js %}           
            {% endblock post_js %}

        </footer>
    </body>
</html>
