{% load static %}
<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'img/logo.svg' %}"
                 style="width:220px;height:auto;"/>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="navbar-menu-curso">
            {% for item in MENU_NAV %}
            <span aria-hidden="true"></span>
            {% endfor %}

        </a>
    </div>
    <div id="navbar-menu-curso" class="navbar-menu">
        <div class="navbar-start">
            {% for item in MENU_NAV %}
	          <a  class="navbar-item {% if forloop.first %} navbar-start {% endif%} {% if forloop.end %} navbar-end {% endif %}"
                title="{{item.title}}"
                href="{{item.href}}">{{item.text}}</a>
            {% endfor %}
    </div>
    <hr class="navbar-divider">
    <div class="navbar-end">
        <div class="navbar-item is-right">
            <div class="buttons">

            </div>
        </div>
    </div>
    </div>
    <hr class="navbar-divider">
 </nav>
