{% load social_share %}

<div class="dropdown-menu" id="dropdown-share" role="menu">
    <div class="dropdown-content"> 
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
            <span class="icon is-small">
                <i class="fab fa-facebook"></i>
            </span><span>{% post_to_facebook data.url "facebook" %}</span>
            </button>
        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-google-plus"></i>
                </span>
                <span>
                    {% post_to_gplus  data.url  "google+" %}
                </span>
            </button>
                
        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-twitter"></i>
                </span>
                <span>

                    {% post_to_twitter  data.long_text  data.url  "twitter" %}
                </span>
            </button>

        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span>

                    {% post_to_linkedin  data.subject  data.url  "linkedin" %}
                </span>
            </button>

        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-envelope-square"></i>
                </span>
                <span>

                    {% send_email  data.subject  data.long_text  data.url  "email" %}
                </span>
            </button>

        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-reddit"></i>
                </span>
                <span>

                    {% post_to_reddit  data.long_text  data.url  "reddit" %}
                </span>
            </button>

        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-telegram"></i>
                </span>
                <span>

                    {% post_to_telegram  data.long_text  data.url  "telegram" %}
                </span>
            </button>

        </div>
        <div class="dropdown-item">
            <button class="button is-link is-outlined">
                <span class="icon is-small">
                    <i class="fab fa-whatsapp"></i>
                </span>
                <span>

                    {% post_to_whatsapp  data.url  "whatsapp" %}
                </span>
            </button>

        </div>
    </div>
</div>

